:root {
  --purple: #320e54;
  --yellow: #ffbf51;
}

/* Navbar and hero section */
/**********************************/

.nav-item {
  margin-right: 0.3rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav-item:hover,
.nav-item.active {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  border: 4px solid transparent;
}
.nav-link {
  color: #fff !important;
  text-transform: capitalize;
}
.navbar-brand {
  font-weight: 700 !important;
  background: linear-gradient(#471377,#c5abde);
  -webkit-background-clip: text;
  color: transparent !important;
  text-transform: capitalize !important;
}
.svg-container {
  width: 30%;
  position: relative;
}

.svg-container > svg {
  position: absolute;
}
.girl {
  z-index: 2;
  bottom: 25%;
  left: 25%;
}
.react {
  bottom: 25%;
  left: 30%;
  width: 80%;
  animation: rotation 30s forwards infinite ease;
  -webkit-animation: rotation 30s forwards infinite ease;
}

@keyframes rotation {
  0% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}

.photo-container {
  width: 70%;
  display: grid;
  position: relative;
}

.hero > .container-fluid {
  display: flex;
  overflow: hidden;
  padding: 0;
}

.outside-layer {
  position: relative;
  z-index: 1;
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
}
.outside-layer > svg {
  width: 100%;
  height: 90%;
}
.content {
  position: absolute;
  z-index: 2;
  color: #fff;
  top: 35%;
  left: 40%;
}
.content > h3 {
  padding: 1rem 0;
}
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 20px;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.btn {
  text-decoration: none;
  color: var(--yellow);
  font-weight: 700;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  backdrop-filter: blur(100px);
  background-clip: padding-box;
  border: 5px solid transparent;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.btn:hover {
  color: #fff;
}

.inside-layer {
  z-index: -1;
  grid-row: 1;
  grid-column: 1;
  position: relative;
}
.inside-layer > svg {
  width: 95%;
  height: 105%;
  position: absolute;
  top: -14%;
  left: 10%;
}

/* About and my skills */
/**********************************/
.about > .container-fluid {
  display: flex;
  padding: 0 !important;
}
.about-me{
  width: 50%;
  position: relative;
}
.about-me > svg  {
  position: absolute;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  z-index: -1;
  width: 20%;
  top: -20%;
}
.a-content{
  z-index: 10;
  backdrop-filter: blur(50px);
  border: 4px solid transparent;
}
.my-skills {
  width: 50%;
  position: relative;
}
.my-skills > svg {
  position: absolute;
  right: 0%;
  top: 0;
}
.s1{
  z-index: -1;
}
.s2{
z-index: -2;
}
.s3{
  z-index: -3;
}
.lines{
  position: absolute !important;
  top: -0% !important;
  left: 1%;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#tag-cloud{
  position: absolute;
  right: 0%;
}

.about h2 {
  font-size: 35px;
  background: linear-gradient(#471377,#c5abde);
  -webkit-background-clip: text;
  color: transparent;
}
.lead{
  font-weight: 500;
}